{
    "env": {
        // "browser": true
    },
    "rules": {
        "no-unused-vars": 0,
        "jsx-a11y/anchor-is-valid": 0
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "extends": ["react-app"]
}
