.layout {
  height: 100%;
}
.layout-header {
  position: "fixed";
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 0;
}

.layout-background {
  margin: 14px 16px;
  padding: 14;
  min-height: 280;
}
